*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;

    background-color: #5d4954;

    font-family: 'Poppins', sans-serif;
}

.navbar-container{
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 1rem;
}


.navbar-name{
    /* font-size: 1.5rem; */
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(226, 226, 266);
    text-decoration: none;
}


.navbar-links{
    display: flex;
    gap: 1.5rem;
    align-items: right;
}

.navbar-link{
    letter-spacing: 3px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    color: rgb(226, 226, 266);
    transition: color 0.2s;

}


.navbar-links li{
    /* removes bulletpoints */
    list-style: none;
}

.navbar-links a{
    color: rgb(226, 226, 266);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.hamburger-menu{
    display: none;
}

.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 266);
    margin: 5px;

    transition: all 0.3s ease;
}



@media screen and (max-width:1200px) {
    .navbar-links{
        width: 40%;
    }
}


@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }

     .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;

        background-color: #5d4954;

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        transform: translateX(100%);
        transition: transform 0.4s ease-in;
        
    } 

    .hamburger-menu{
        display: block;
    }

    .navbar-link{
        opacity: 0;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


